<footer>
  <div class="footer-top bg-primary text-white pb-10 pt-16">
    <div class="container mx-auto py-1 md:py-5 px-5">
      <div class="grid lg:grid-cols-1 xl:grid-cols-10 2xl:grid-cols-5 gap-4 md:gap-5">
        <div class="lg:col-span-1 xl:col-span-6 2xl:col-span-3">
          <div class="footer-contact-block [&>p]:leading-[30px]">
            <p class="font-bold mb-10 max-w-[564px]">
              Norddeutsche Arbeitsgemeinschaft für Psychotherapie und
              Psychosomatik e.V.
            </p>
            <p class="mb-10 max-w-[420px] xl:mb-2">
              c/o Lübeck und Travemünde Marketing GmbH 
              Holstentorplatz 1, 23552 Lübeck </p>
            <div class="flex flex-col xl:flex-row gap-3 xl:gap-5 [&>a]:inline-flex [&>a]:gap-2 mb-2">
              <a href="tel:+49(3641)9398020" class="hover:[&>span]:underline">
                <img src="./images/icons/phone.svg" /> <span>+49(3641)9398020</span>
              </a>
              <a href="fax:+49(3641)9398022" class="hover:[&>span]:underline">
                <img src="./images/icons/printer.svg" /> <span>+49(3641)9398022</span>
              </a>
            </div>
            <div class="[&>a]:inline-flex [&>a]:gap-2">
              <a href="mailto:bernhard.strauss@med.uni-jena.de" class="hover:[&>span]:underline">
                <img src="./images/icons/mail.svg" /> <span>bernhard.strauss@med.uni-jena.de</span>
              </a>
            </div>
          </div>
        </div>
        <div class="pt-7 xl:pt-0 xl:col-span-4 2xl:col-span-2">
          <div class="footer-menu">
            <ul class="sm:columns-2 hover:nav-link:underline space-y-3">
              <li><a href="#">Lübecker Psychotherapietage</a></li>
              <li><a href="#">Programm 2024</a></li>
              <li><a href="#">Vorstand und Planung</a></li>
              <li><a href="#">Links</a></li>
              <li><a href="#">Lübeck und Umgebung</a></li>
              <li><a href="#">Kontakt</a></li>
              <li><a href="#">Impressum</a></li>
              <li><a href="#">Datenschutz</a></li>
              <li><a href="#">AGB</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom bg-white py-3 md:py-[19px]">
    <div class="container mx-auto px-3 text-sm">
      &copy; Norddeutsche Arbeitsgemeinschaft für Psychotherapie und
      Psychosomatik e.V.
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./js/bundle.js"></script>

<!-- <script src="./js/jquery.min.js"></script>
<script src="./js/main.js"></script>
<script src="./js/carousel-v2.js?200"></script> -->

<!-- <script src="./js/index.6f279bdd.js"></script> -->