@layer components {
  .nav-line {
    @apply hamburger-line bg-black w-full h-[3px] transform transition duration-300 ease-in-out;
  }

  .hamburger-btn .hamburger-line:nth-child(1) {
    transform-origin: top left;
  }

  .hamburger-btn .hamburger-line:nth-child(3) {
    transform-origin: bottom left;
  }

  .hamburger-btn.open .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translateY(-2px);
  }

  .hamburger-btn.open .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-btn.open .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translateY(0);
  }

  #mobile-menu {
    transform: translateX(-100%);
  }
}
