@layer components {

    /* Custom class to apply white color on hover */
    .group-hover\:text-white .icon {
        transition: filter 0.3s ease;
    }

    .group-hover:hover .icon {
        filter: invert(1) brightness(0) saturate(100%) !important;
    }


    .white-image {
        filter: invert(1) brightness(8) contrast(8);
    }

    .color-image {
        filter: hue-rotate(90deg) brightness(1.5);
    }


    .list-custom-square {
        list-style-type: none;
    }

    .list-custom-square li {
        list-style: none;
        position: relative;
        padding-left: 36px;
        line-height: 28px;
        margin-bottom: 16px;
        /* Adjust based on the size of the bullet */
    }

    .list-custom-square li::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 16px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-color: #bc082e;
        /* Red color */
        border-radius: 2px;
        /* Optional: for slightly rounded corners */
    }
    .list-custom-dot {
        list-style-type: none;
    }

    .list-custom-dot li {
        list-style: none;
        position: relative;
        padding-left: 16px;
        /* line-height: 50px; */
        margin-bottom: 16px;
        font-size: 18px;
        /* Adjust based on the size of the bullet */
    }

    .list-custom-dot li::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 18px;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        background-color: #000;
        /* Red color */
        border-radius: 50%;
    }

    @media (min-width: 768px) {
        .md\\:toggle-order:nth-child(1) {
          order: 2;
        }
        .md\\:toggle-order:nth-child(2) {
          order: 1;
        }
    }
}


