<section>
    <div class="sm:container m-5 border-[1px] rounded-lg">
        <div class="flex gap-6 m-5">
            <h3 class="font-bold text-[15px]">What is the meaning of a design system?</h3>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mt-[6px]" viewBox="0 0 384 512">
                <path
                    d="M169.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L192 205.3 54.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z" />
            </svg>
        </div>
        <p class="m-5">A Design System is a comprehensive set of standards, documentation, principles, and components
            that guide the creation of a digital product's user interface (UI).
            <span class="block mt-2">It acts as a single source of truth for designers, developers, and other
                stakeholders, ensuring consistency across different parts of a product and even across different
                products within the same brand. The goal is to accelerate the design and development process, improve
                user experience, and maintain a coherent visual and functional language.</span>
        </p>
        <hr class="text-gray m-5">
        <div class="flex gap-6 m-5">
            <h3 class="font-bold text-[15px]">What is the meaning of a design system?</h3>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mt-[6px]" viewBox="0 0 384 512">
                <path
                    d="M169.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L192 205.3 54.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z" />
            </svg>
        </div>
        <p class="m-5">A Design System is a comprehensive set of standards, documentation, principles, and components
            that guide the creation of a digital product's user interface (UI).
            <span class="block mt-2">It acts as a single source of truth for designers, developers, and other
                stakeholders, ensuring consistency across different parts of a product and even across different
                products within the same brand. The goal is to accelerate the design and development process, improve
                user experience, and maintain a coherent visual and functional language.</span>
        </p>
        <hr class="text-gray m-5">
        <div class="flex gap-6 m-5">
            <h3 class="font-bold text-[15px]">What is the meaning of a design system?</h3>
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mt-[6px]" viewBox="0 0 384 512">
                <path
                    d="M169.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L192 205.3 54.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z" />
            </svg>
        </div>
        <p class="m-5">A Design System is a comprehensive set of standards, documentation, principles, and components
            that guide the creation of a digital product's user interface (UI).
            <span class="block mt-2">It acts as a single source of truth for designers, developers, and other
                stakeholders, ensuring consistency across different parts of a product and even across different
                products within the same brand. The goal is to accelerate the design and development process, improve
                user experience, and maintain a coherent visual and functional language.</span>
        </p>
        <hr class="text-gray m-5">
    </div>
</section>

<section>
    <div class="sm:container m-5 border rounded-lg overflow-hidden">
      <div class="m-5">
  
        <!-- Accordion Item 1 -->
        <div class="border-b">
          <input type="radio" name="accordion" id="q1" class="hidden peer">
          <label for="q1"
            class="flex justify-between items-center cursor-pointer font-bold text-[15px] py-3 peer-checked:text-[#806c52]">
            <span>What is the meaning of a design system?</span>
            <svg xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 transition-transform duration-300 peer-checked:rotate-180 peer-checked:text-[#806c52]"
              fill="currentColor" viewBox="0 0 384 512">
              <path
                d="M169.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 
                12.5 32.8 0 45.3s-32.8 12.5-45.3 0L192 
                205.3 54.6 342.6c-12.5 12.5-32.8 
                12.5-45.3 0s-12.5-32.8 0-45.3l160-160z" />
            </svg>
          </label>
          <div class="hidden peer-checked:block text-sm text-gray-700 leading-relaxed">
            <p class="mt-2">
              A Design System is a comprehensive set of standards, documentation, principles, and components
              that guide the creation of a digital product's user interface (UI).
            </p>
            <p>It acts as a single source of truth for designers, developers, and other
                stakeholders, ensuring consistency across different parts of a product and even across different
                products within the same brand. The goal is to accelerate the design and development process, improve
                user experience, and maintain a coherent visual and functional language.
            </p>
          </div>
        </div>
  <hr class="text-gray">
        <!-- Accordion Item 2 -->
        <div class="border-b">
          <input type="radio" name="accordion" id="q2" class="hidden peer">
          <label for="q2"
            class="flex justify-between items-center cursor-pointer font-bold text-[15px] py-3 peer-checked:text-[#806c52]">
            <span>Why is a design system important?</span>
            <svg xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 transition-transform duration-300 peer-checked:rotate-180 peer-checked:text-[#806c52]"
              fill="currentColor" viewBox="0 0 384 512">
              <path
                d="M169.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 
                12.5 32.8 0 45.3s-32.8 12.5-45.3 0L192 
                205.3 54.6 342.6c-12.5 12.5-32.8 
                12.5-45.3 0s-12.5-32.8 0-45.3l160-160z" />
            </svg>
          </label>
          <div class="hidden peer-checked:block text-sm text-gray-700 leading-relaxed">
            <p class="mt-2">
                A Design System is a comprehensive set of standards, documentation, principles, and components
                that guide the creation of a digital product's user interface (UI).
              </p>
              <p>It acts as a single source of truth for designers, developers, and other
                  stakeholders, ensuring consistency across different parts of a product and even across different
                  products within the same brand. The goal is to accelerate the design and development process, improve
                  user experience, and maintain a coherent visual and functional language.
              </p>
          </div>
        </div>
  <hr class="text-gray">
        <!-- Accordion Item 3 -->
        <div>
          <input type="radio" name="accordion" id="q3" class="hidden peer">
          <label for="q3"
            class="flex justify-between items-center cursor-pointer font-bold text-[15px] py-3 peer-checked:text-[#806c52]">
            <span>Who uses a design system?</span>
            <svg xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 transition-transform duration-300 peer-checked:rotate-180 peer-checked:text-[#806c52]"
              fill="currentColor" viewBox="0 0 384 512">
              <path
                d="M169.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 
                12.5 32.8 0 45.3s-32.8 12.5-45.3 0L192 
                205.3 54.6 342.6c-12.5 12.5-32.8 
                12.5-45.3 0s-12.5-32.8 0-45.3l160-160z" />
            </svg>
          </label>
          <div class="hidden peer-checked:block text-sm text-gray-700 leading-relaxed">
            <p class="mt-2">
                A Design System is a comprehensive set of standards, documentation, principles, and components
                that guide the creation of a digital product's user interface (UI).
              </p>
              <p>It acts as a single source of truth for designers, developers, and other
                  stakeholders, ensuring consistency across different parts of a product and even across different
                  products within the same brand. The goal is to accelerate the design and development process, improve
                  user experience, and maintain a coherent visual and functional language.
              </p>
          </div>
        </div>
  <hr class="text-gray">
      </div>
    </div>
  </section>
  

  
  