<nav class="my-10 mx-5 md:w-[84%] lg:w-[64%]">
    <ul class="flex flex-wrap items-center text-sm text-[#92722a] p-4 border border-gray-200 rounded-lg">
  
      <!-- Home -->
      <li class="flex items-center">
        <svg class="h-4 w-4 text-[#92722a] mr-2"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
        <g fill="#92722a"><g transform="scale(5.33333)">
          <path d="M23.95 4c-.32.01-.63.12-.88.32L8.86 15.52A7 7 0 0 0 6 21.41v19.09a2.5 2.5 0 0 0 2.5 2.5h10a2.5 2.5 0 0 0 2.5-2.5v-10a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v10a2.5 2.5 0 0 0 2.5 2.5h10a2.5 2.5 0 0 0 2.5-2.5V21.41a7 7 0 0 0-2.86-5.89L24.83 4.32A1.5 1.5 0 0 0 23.95 4z"/>
        </g></g>
      </svg>
        <a href="#" class="flex items-center hover:opacity-80">
          <span class="underline-offset-2 underline font-medium">Home</span>
        </a>
      </li>
  
      <!-- Media centre -->
      <li class="flex items-center ml-3">
        <span class="text-gray-400 mx-2">/</span>
        <a href="#" class="hover:opacity-80 underline underline-offset-2 font-medium">
          Media centre
        </a>
      </li>
  
      <!-- News -->
      <li class="flex items-center ml-3">
        <span class="text-gray-400 mx-2">/</span>
        <a href="#" class="hover:opacity-80 underline underline-offset-2 font-medium">
          News
        </a>
      </li>
  
      <!-- Press release -->
      <li class="flex items-center ml-3">
        <span class="text-gray-400 mx-2">/</span>
        <a href="#" class="hover:opacity-80 underline underline-offset-2 font-medium">
          Press release
        </a>
      </li>
  
      <!-- Long title -->
      <li class="flex items-center ml-3 overflow-hidden max-w-full">
        <span class="text-gray-400 mx-2">/</span>
        <span class="truncate font-bold text-black max-w-[150px] sm:max-w-[100px] md:max-w-[150px] lg:max-w-[200px]">
          A really long page name that needs to be truncated
        </span>
      </li>
  
    </ul>
  </nav>
  