<div
    class="w-48 mx-auto my-5 flex justify-evenly flex-col gap-10 border-2 border-solid border-[#e5e5e5] p-5 rounded-md md:w-80 md:gap-14 lg:flex-row lg:w-[90%] lg:gap-32 lg:justify-normal ">
    <button
        class="bg-[#8b662d] p-[10px] rounded-lg font-semibold text-white  md:p-[20px] md:text-[20px] md:rounded-2xl lg:px-8">Solid
        button</button>
    <button
        class="border-2 border-[#888a6e] p-[10px] text-[#7a6c54] font-semibold rounded-lg  md:p-[20px] md:text-[20px] md:rounded-2xl lg:px-8">Outline
        button </button>
    <button
        class="text-[#7a6c54] rounded-lg p-[10px] bg-[#eee6cc] font-semibold md:p-[20px] md:text-[20px] md:rounded-2xl lg:px-7">Soft
        button</button>
    <button class="text-[#9a9475] rounded-lg p-[10px] font-semibold md:p-[20px] md:text-[20px] md:rounded-2xl">Link
        button</button>
</div>