<section>
    <div class="container mx-auto">
        <div class="w-48 mx-auto my-5 flex justify-evenly flex-col gap-10 border-2 border-solid border-mercury p-5 rounded-md md:w-80 md:gap-14 lg:flex-row lg:w-[90%] lg:gap-16 lg:justify-normal 2xl:gap-32">
            <button class=" 2xl:w-[16%] bg-dirt-brown p-xs rounded-lg font-semibold text-white  md:p-5 md:text-base md:rounded-2xl lg:px-8">Solid button</button>
            <button class=" 2xl:w-[16%] border-2 border-stonewall p-xs text-crocodile font-semibold rounded-lg  md:p-5 md:text-base md:rounded-2xl lg:px-8">Outline button </button>
            <button class=" 2xl:w-[16%] text-crocodile rounded-lg p-xs bg-eggshell font-semibold md:p-5 md:text-base md:rounded-2xl lg:px-7">Soft button</button>
            <button class=" 2xl:w-[16%] text-artichoke rounded-lg p-xs font-semibold md:px-5 md:text-base md:rounded-2xl">Link button</button>
        </div>
    </div>
</section>

