<div
    class="border-[1px] border-[#e7e7e7] m-7 rounded-xl shadow-md overflow-hidden md:m-20 md:rounded-2xl lg:w-[24%] lg:mx-auto">
    <img class="object-cover" src="../../../images/card-component.jpeg" alt="">
    <div class="m-5 font-medium">
        <span class="text-[#8d8c8e] md:text-xl lg:text-xs">11th Jun 2023 </span>
        <span class="text-[#e6e6e6] md:text-xl lg:text-xs">|</span>
        <span><a class="text-[#bcb095] underline-offset-2 underline md:text-xl lg:text-xs" href="#">Press
                Release</a></span>
    </div>
    <div class="m-5">
        <h3
            class="text-2xl mb-5 w-full text-ellipsis line-clamp-3 md:w-[74%] font-bold overflow-hidden md:text-[34px] md:leading-[42px] lg:text-[28px] lg:leading-[34px] lg:w-full">
            TDRA empowers youth <span class="md:block">for a sustainable future </span> through "Digital Skills digital</h3>

        <p class="text-[16px] w-full md:text-[22px] md:w-[80%] md:leading-[34px] lg:text-[16px] lg:leading-7 lg:w-full line-clamp-3">In alignment with the UAE
            government's <span class="md:block"> visionary theme for 2023, "Today for </span> Tomorrow," the forum
            epitomized TDRA's epitomized</p>
    </div>
    <div class="m-5 ">
        <span class="flex gap-2 underline-offset-2 underline text-[#8b7752] font-bold md:text-xl lg:text-[16px]"><a
                href="#">View details</a><svg class="w-[26px] fill-[#8b7752] lg:w-5" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 640">
                <path
                    d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L466.7 352L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7z" />
            </svg>
        </span>
    </div>
</div>