

<!-- Component: Start Carousel  -->
<section class="frame-space-after-large frame-space-before-large">
  <div class="carousel">
    <img src="http://fakeimg.pl/1024x760/?text=1" alt="Museum für Natur und Umwelt 1" />
    <img src="http://fakeimg.pl/1024x760/?text=2" alt="Museum für Natur und Umwelt 2" />
    <img src="http://fakeimg.pl/1024x760/?text=3" alt="Museum für Natur und Umwelt 3" />
    <img src="http://fakeimg.pl/1024x760/?text=4" alt="Museum für Natur und Umwelt 4" />
    <img src="http://fakeimg.pl/1024x760/?text=5" alt="Museum für Natur und Umwelt 5" />
    <img src="http://fakeimg.pl/1024x760/?text=6" alt="Museum für Natur und Umwelt 6" />
    <img src="http://fakeimg.pl/1024x760/?text=7" alt="Museum für Natur und Umwelt 7" />
    <img src="http://fakeimg.pl/1024x760/?text=8" alt="Museum für Natur und Umwelt 8" />   
  </div>
</section>

<!-- End: Component : Carousel -->