<section>
    <div class="container ">
        <div class="mx-9 flex flex-col gap-1 mt-5">
            <label class="mb-0 font-bold text-base lg:text-lg">Description</label>
            <textarea
                class="border-2 pt-1 pl-6px h-48 font-medium border-yellow outline-none text-base rounded-xl placeholder:text-base md:h-52 md:w-[70%] lg:placeholder:text-lg lg:text-lg lg:h-56 lg:w-[50%]"
                name="description" id="description" placeholder="Enter your description"></textarea>
        </div>
    </div>
</section>