<div class="mx-9 flex flex-col gap-1 mt-5">
    <label class="mb-0 text-[9px] font-bold md:text-sm lg:text-[16px]">Description</label>
    <textarea
        class="border-2 pt-1 pl-[6px] text-[9px] h-16 font-medium border-[#c4ae6e] rounded-[8px] placeholder:text-[8px] outline-none md:text-[12px] md:rounded-[14px] md:placeholder:text-[12px] md:h-28 lg:placeholder:text-[14px] lg:text-[14px] lg:h-36"
        name="description" id="description" placeholder="Enter your description"></textarea>
</div>