<!-- component : start download and links -->
<section class="frame-space-after-large">
    <div class="lg:container mx-auto">
        <div class="grid md:grid-cols-2 2xl:grid-cols-2 gap-4 px-5">
            <div class="flex items-center order-2 md:-order-none">
                <div class="flex flex-col gap-5">
                    <h3 class="headline-3 text-primary">Weiterführende Links</h3>
                    <ul class="list-custom-square underline">
                        <li>Hier finden Sie das Programmheft zum Download.</li>
                        <li>Hier finden Sie die Ankündigung (Vorprogramm) zum Download.</li>
                        <li>Zur Online-Anmeldung</li>
                        <li>Zum DB-Veranstaltungsticket</li>
                    </ul>
                </div>
            </div>
            <div class="order-1 md:-order-none">
                <img src="./images/illustration-dummy.png" class="object-cover w-full" alt="Downloads & Links">
            </div>
        </div>
    </div> <!--container div close -->
</section>
<!-- end: download and links -->