<!-- <div class="bg-black h-20 flex">
    <div class="text-left flex universal gap-6">
        <select name="open-dropdown" id="open-dropdown"
            class="w-44 appearance-none relative bg-[#b68a34] border-4 border-[#f2eccf] rounded-xl text-white px-3 py-2 mt-4 ml-4 focus:outline-none font-medium">
            <option value="dropdown">Open dropdown</option>
            <option value="Edit-my-profile">Edit my profile</option>
            <option value="package">My packages</option>
            <hr>
            <option value="account">Account settiings</option>
            <option value="email">Email notifications</option>
            <option value="token">Access tokens</option>
            <hr>
            <option value="logout">Logout</option>
        </select>
        <span class="absolute top-[28px] left-[10.6rem] pointer-events-none ">
            <i class="fa-solid fa-angle-down text-white "></i>
        </span>
    </div>

    <div class="relative inline-block text-left ml-10 mt-4">
        <button
          class="inline-flex font-medium justify-between w-52 bg-[#b68a34] text-white px-4 py-2 rounded-lg shadow border-4 border-[#f2eccf] focus:outline-none">
          Open dropdown
          <i class="fa-solid fa-angle-down text-white top-4 absolute left-[11.5rem]"></i>
        </button>
      
        <div
          class="absolute w-52 bg-white rounded-xl shadow-lg border-t-0 border-gray-100 z-10">
          <ul class="text-gray-700">
            <li class="px-4 py-2 cursor-pointer text-[#957531] font-medium">Edit my profile</li>
            <li class="px-4 py-2 cursor-pointer text-[#957531] font-medium">My packages</li>
            <hr class="text-[#f2eccf]">
            <li class="px-4 py-2 cursor-pointer text-[#957531] font-medium">Account settings</li>
            <li class="px-4 py-2 cursor-pointer text-[#957531] font-medium">Email notifications</li>
            <li class="px-4 py-2 cursor-pointer text-[#957531] font-medium">Access tokens</li>
            <hr class="my-1 text-[#f2eccf]">
            <li class="px-4 py-2 cursor-pointer text-[#957531] font-medium">Logout</li> 
          </ul>
        </div>
      </div>
</div> -->

<div  class="relative justify-center m-36 " id="dropdown">
  <div onclick="toggleDropdown()" class="border-solid border-gray border-[1px] px-5 py-2 rounded cursor-pointer font-bold flex justify-between w-[200px] bg-white shadow-sm">
    Options
    <i class="fa-solid fa-angle-down text-black pt-[6px]"></i>
    
  </div>
  <div class="rounded bg-white border-gray border-[1px] absolute w-[400px] shadow-md top-[50px] hidden"  id="dropdown">
    <div class="cursor-pointer hover:bg-gray p-4">Edit my profile</div>
    <div class="cursor-pointer hover:bg-gray p-4">My packages</div>
    <div class="cursor-pointer hover:bg-gray p-4">Account settings</div>
    <hr>
    <div class="cursor-pointer hover:bg-gray p-4">Email notifications</div>
    <div class="cursor-pointer hover:bg-gray p-4">Access tokens</div>
    <hr>
    <div class="cursor-pointer hover:bg-gray p-4">logout</div>

  </div>
</div>

<script>
  function toggleDropdown(){
    let dropdown = document.querySelector('#dropdownButton #dropdown');
    dropdown.classList.toggle('hidden');
  }
</script>