<div class="border-[#cba344] w-full max-w-[17em] p-5 border rounded-2xl space-y-6 m-24">
    <div>
        <h1 class="font-semibold">Search and filter</h1>
        <div class="flex items-center rounded-xl border-2 border-[#cba344] mt-3 px-3 py-2">
            <input type="text" name="text" id="" placeholder="Search for something" class=" outline-none">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-500 " fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                    d="M21 21l-4.35-4.35m1.05-5.4a6.45 6.45 0 11-12.9 0 6.45 6.45 0 0112.9 0z" />
            </svg></a>
        </div>
    </div>
    <div>
        <h3 class="font-semibold">Directorate</h3>
        <div class="mt-3 space-y-3 text-sm">
          <label class="flex items-center gap-2 cursor-pointer">
            <input type="checkbox" class="h-4 w-4 border rounded-lg accent-[#92722a]">
            <span>All Directorate</span>
          </label>
    
          <label class="flex items-center gap-2 cursor-pointer">
            <input type="checkbox" class="h-4 w-4 border rounded accent-[#92722a]">
            <span>Federal crime security</span>
          </label>
    
          <label class="flex items-center gap-2 cursor-pointer">
            <input type="checkbox" class="h-4 w-4 border rounded accent-[#92722a]">
            <span>Vehicle and driver licensing</span>
          </label>
    
          <label class="flex items-center gap-2 cursor-pointer">
            <input type="checkbox" class="h-4 w-4 border rounded accent-[#92722a]">
            <span>Civil defence</span>
          </label>
        </div>
    
        <button class="mt-4"><a href="#" class="mt-2 text-amber-700 text-sm font-medium">See more</a></button>
      </div>
      <div>
        <h3 class="font-semibold">Beneficiary</h3>
        <div class="mt-3 space-y-3 text-sm">
          <label class="flex items-center gap-2 cursor-pointer">
            <input type="radio" name="radio" class="h-4 w-4 border-2  accent-[#92722a]">
            <span>All beneficiaries</span>
          </label>
    
          <label class="flex items-center gap-2 cursor-pointer">
            <input type="radio" name="radio" class="h-4 w-4 border-2  accent-[#92722a]">
            <span>Citizen</span>
          </label>
    
          <label class="flex items-center gap-2 cursor-pointer">
            <input type="radio" name="radio" class="h-4 w-4 border-2  accent-[#92722a]">
            <span>Resident</span>
          </label>
    
          <label class="flex items-center gap-2 cursor-pointer">
            <input type="radio" name="radio" class="h-4 w-4 border-2 rounded  accent-[#92722a]">
            <span>Visitor</span>
          </label>
        </div>
    
        <button class="mt-4"><a href="#" class="mt-2 text-amber-700 text-sm font-medium">See more</a></button>
      </div>
      
      <h3 class="font-semibold">A range</h3>
      <div class="text-left flex gap-6">
        <select name="open-dropdown" id="open-dropdown"
            class="w-full relative border-2 border-[#cba344] rounded-lg text-[#5d3b26] px-3 py-2 focus:outline-none font-medium">
            <option value="dropdown">United Arab Emirates</option>
            <option value="Edit-my-profile">Edit my profile</option>
            <option value="package">My packages</option>
            <hr>
            <option value="account">Account settiings</option>
            <option value="email">Email notifications</option>
            <option value="token">Access tokens</option>
            <hr>
            <option value="logout">Logout</option>
        </select>
        <!-- <span class="absolute bottom-[35%] left-[10.6rem] pointer-events-none ">
            <i class="fa-solid fa-angle-down text-white"></i> 
        </span> -->
    </div>
    
      <div>
        <h3 class="font-semibold">A range</h3>
    
        <div class="mt-4 flex items-center gap-3">
          <input type="range" min="0" max="100" value="20"
            class="w-full accent-[#c69b48] " />
          <span class="text-sm">20</span>
        </div>
      </div>
</div>