<!-- component : Start GASTRONOMIE -->

<section class="frame-space-before-extra-large">
    <div class="container mx-auto ">
        <h3 class="md:text-center headline-3 text-primary px-5  md:px-0">GASTRONOMIE</h3>
        <div class="grid lg:grid-cols-2  xl:grid-cols-2 2xl:grid-cols-2 gap-14 pb-14 mb-4 md:gap-4 md:px-5-x mt-8 md:mt-[50px] [&>div>a]:md:mx-0 [&>div>a]:mx-5 [&>div>h5]:md:px-0 [&>div>h5]:px-5 [&>div>p]:px-5 [&>div>p]:md:px-0 [&>div>p]:md:max-w-[634px] bg-tertiery sm:bg-transparent">
            <div class="bg-quaternary">
                <img src="./images/teasureboxes/Niederegger 1.png" class="object-cover w-full min-h-[480px] md:min-h-min" alt="Café Niederegger" >
                <div class="mx-5 mt-7 mb-8">
                    <h5 class="headline-5-bolder">Café Niederegger</h5>
                    <p class="">Treffpunkt mit Tradition: Es war Konditormeister Johann Georg Niederegger selbst, der das Café Niederegger im Herzen der Lübecker Altstadt gründete. Seitdem sind über 200 Jahre vergangen.  Bevor man sich im „Tempel der süßen Verführungen” der klassischen Marzipan-Nusstorte oder den weiteren Künsten der Niederegger-Konditoren hingibt, sollte ein Rundgang durch den Marzipan-Salon nicht fehlen. Unübersehbarer Anziehungspunkt sind die zwölf lebensgroßen Persönlichkeiten aus Marzipan.  Im weichen, roten Plüsch versinkt man anschließend beim entspannten Nachmittagskaffee oder beim sonntäglichen Frühstück.</p>
                    <a class="btn btn-arrow mt-6" href="#"><img src="./images/icons/chevron-right.svg" alt=""></a>
                </div>
            </div>    
            <div class="bg-quaternary">
                <img src="./images/teasureboxes/Restaurant-Schiffergesellschaft-Luebeck.png" class="object-cover w-full min-h-[480px] md:min-h-min" alt="Restaurant Schiffergesellschaft Lübeck">
                <div class="mx-5 mt-7 mb-8">
                    <h5 class="headline-5-bolder">Restaurant Schiffergesellschaft Lübeck</h5>
                    <p>Die Schiffergesellschaft ist mehr als nur ein Restaurant: Seit jeher versteht sich das ehemalige Gildehaus in der Breiten Straße als geselliger Ort der Begegnung. Die Lübecker Schiffergesellschaft entstammt den Anfängen der kommerziellen Seefahrt und war ursprünglich für alle Schiffer der Hansestadt verpflichtend. Mit dem Erlöschen der Beitragspflicht entstand vor rund 150 Jahren das, was die Schiffergesellschaft heute ist: Ein traditionelles, hanseatisches Restaurant mit moderner Küche und historischem Ambiente. Wir erwarten Sie in gemütlichen Gasträumen, in denen der Geist vergangener Seefahrer bis heute weiterlebt.</p>
                    <a class="btn btn-arrow mt-6" href="#"><img src="./images/icons/chevron-right.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div> <!--container div close -->
</section>

<!-- End GASTRONOMIE -->