<!-- COMPONENT: START Hero Banner -->
<section class="frame-space-after-extra-large">
    <div class="2xl:container mx-auto relative md:rounded-xl">
        <img src="./images/headers/Header-Subpage.png" class="w-full sm:mx-auto md:block hidden"
            alt="Zweifel und zuversicht banner">
        <img src="./images/headers/Header-Subpage-mobile.png" class="mx-auto md:hidden"
            alt="Zweifel und zuversicht mobile banner">

        <div
            class="sm:absolute sm:top-20 sm:left-5 px-5 pt-14 mb-10 md:px-0 md:top-10 md:pt-0 md:w-3/5 lg:top-20 xl:top-32 lg:left-10">
            <h1 class="headline-1 text-primary mb-10">Kultur, Tourismus und Gastronomie in Lübeck</h1>
            <p class="headline-4 md:text-white"></p>
        </div>

        <nav class="grid grid-cols-1 md:grid-cols-5 gap-5 w-full md:justify-evenly md:absolute md:-bottom-24 lg:-bottom-12 left-0 px-5 md:space-x-5-x [&>a>span]:align-center [&>a>span]:flex [&>a>span]:md:flex-col [&>a>span>img]:max-w-[55px] [&>a>span]:sm:justify-start [&>a]:max-h-[160px] [&>a>span]:gap-3 [&>a>span]:items-center"
            role="navigation">
            <a href="#"
                class="group hover:bg-magenta md:rounded-md hover:text-white flex md:items-center lg:p-10 p-5 md:justify-center bg-light-gray"
                aria-label="View Termine">
                <span>
                    <img src="./images/icons/building.svg" class="md:mx-auto group-hover:white-image"
                        alt="Calendar icon">
                    <span class="headline-6 text-primary group-hover:text-white">TERMINE</span>
                </span>
            </a>

            <a href="#"
                class="group hover:bg-magenta md:rounded-md hover:text-white flex md:items-center lg:p-10 p-5 md:justify-center bg-light-gray"
                aria-label="View Kurse">
                <span>
                    <img src="./images/icons/directions-arrow.svg" class="md:mx-auto group-hover:white-image"
                        alt="List icon">
                    <span class="headline-6 text-primary group-hover:text-white">KULTUR</span>
                </span>
            </a>

            <a href="#"
                class="group hover:bg-magenta md:rounded-md hover:text-white flex md:items-center lg:p-10 p-5 md:justify-center bg-light-gray"
                aria-label="View Vorstand">
                <span>
                    <img src="./images/icons/restaurant.svg" class="md:mx-auto group-hover:white-image"
                        alt="Speaker icon">
                    <span class="headline-6 text-primary group-hover:text-white">GASTRONOMIE</span>
                </span>
            </a>

            <a href="#"
                class="group hover:bg-magenta md:rounded-md hover:text-white flex md:items-center lg:p-10 p-5 md:justify-center bg-light-gray"
                aria-label="View Anreise">
                <span>
                    <img src="./images/icons/port.svg" class="md:mx-auto group-hover:white-image" alt="Destination icon">
                    <span class="headline-6 text-primary group-hover:text-white">HAFENSTADT</span>
                </span>
            </a>

            <a href="#"
                class="group hover:bg-magenta md:rounded-md hover:text-white flex md:items-center lg:p-10 p-5 md:justify-center bg-light-gray"
                aria-label="View Downloads">
                <span>
                    <img src="./images/icons/link.svg" class="md:mx-auto group-hover:white-image" alt="Download icon">
                    <span class="headline-6 text-primary group-hover:text-white">LINKS</span>
                </span>
            </a>
        </nav>
    </div> <!-- container: div: close -->

</section>

<!-- COMPONENT: END Hero Banner -->