<!-- COMPONENT: START Holsteinische -->
<section class="frame-space-after-large">
    <div class="container mx-auto">
        <div class="grid lg:grid-cols-2 xl:grid-cols-10 2xl:grid-cols-5 md:gap-5 md:px-4">
            <div class="order-2 pt-10 pb-12 lg:order-none lg:col-span-1 xl:col-span-4 2xl:col-span-2 p-5 md:p-12 bg-quaternary flex flex-col justify-center h-full">
                <h5 class="headline-5-bolder">Holsteinische Schweiz & Eutin</h5>
                <p>Die Seebäder entlang der Lübecker Bucht laden ein. Timmendorfer Strand, Scharbeutz oder Neustadt in Holstein, Grömitz, Dahme und Kellenhusen – sie alle bieten Wellen, Wind und einen weiten Horizont für einige zusätzliche Erholungstage vor oder nach den Lübecker Psychotherapietagen. Die frische Meeresluft pustet den Kopf an den feinen Sandstränden frei und lässt die Hektik des Alltags schnell vergessen ...</p>
                <a class="btn btn-arrow mt-6 open-popup" href="#"><img class="h-[32px] w-[32px]" src="./images/icons/chevron-right.svg" alt=""></a>
            </div>  
            <div class="order-1 lg:order-none lg:col-span-1 xl:col-span-6 bg-quaternary md:bg-transparent 2xl:col-span-3">
                <img  src="./images/teasureboxes/holsteinische_schweiz.png" class="object-cover w-full h-full min-h-[480px] md:min-h-min" alt="">
            </div>            
        </div>
    </div>  <!-- container close -->
</section>
<!-- END Holsteinische -->