<!-- COMPONENT: START kurse-seminare -->

<section class="md:frame-space-before-large frame-space-after-small">
    <div class="container mx-auto md:mb-[135px] mb-[120px]">
        <!-- <div class="grid lg:grid-cols-5 xl:grid-cols-10 2xl:grid-cols-5 gap-4 md:gap-5"> -->
        <div class="grid sm:grid-cols-1 md:gap-12 md:grid-cols-5">
            <div class=" md:col-span-3 md:pt-12 px-5">
                <!-- <div class="lg:col-span-1 xl:col-span-6 2xl:col-span-3 pt-12 px-4 pb-12-x md:col-span-3"> -->
                <h3 class="headline-3 pb-8 text-primary">Kurse und Seminare zu folgenden Oberthemen</h3>
                
                <ul class="list-custom-square mb-10">
                <li>Aktuelle Themen in der Psychotherapie (z. B. Geschlechtsdysphorie, ADHS im Erwachsenenalter, Emerging Adults, Vertrauen, Funktion und Behandlung von pathologischen Schuldkonstrukten)</li>
                <li>Psychotherapeutische Methoden und Verfahren (z. B. EMDR, Schematherapie, MBT, TFP, Traumatherapie, zeitgemäße psychodynamische Psychotherapie, KIP, Psychodrama)</li>
                <li>Psychotherapeutische Kompetenzen (z. B. ambulante Gruppentherapie, Psychopharmakotherapie, OPD, Improvisation)</li>
                <li>Psychosomatik (z. B. Psychosomatik des Atems, Therapie bei körperlichen Erkrankungen, Resilienz)</li>
                <li>Selbstreflexion, Selbstfürsorge und Rekreation (z. B. Achtsamkeit, Qi Gong, Grenzverletzungen, funktionelle Entspannung, Selbstwahrnehmung und Selbstfürsorge, Film)</li>   
                </ul>
                <a class="btn btn-primary btn-large md:mr-4 mb-4" href="#">Zu Online-Anmeldung</a>
                <a class="btn btn-tertiary btn-large" href="#">Programmheft zum Download</a>
            </div>
            
            <!-- <div class="lg:pt-12 lg:col-span-1 xl:col-span-4 2xl:col-span-2 pt-14 pb-4 bg-light-blue md:col-span-2"> -->
            <div class="pt-12 pb-4-x bg-light-blue md:col-span-2 md:relative mt-12 md:mt-0">
                <div class="px-7 bg-light-blue">
                    <h3 class="headline-3 pb-8">Tageskurse (5*1) zu <br/>folgenden Themen</h3>
                    <ul class="list-custom-dot frame-space-after-medium md:leading-9">
                        <li>CBASP</li>
                        <li>Adipositasbehandlung</li>
                        <li>Innerer Kritiker</li>
                        <li>Ungewissheitstoleranz</li>
                        <li>Psychokardiologische Behandlungen</li>
                    </ul>
                    <p class="bodytext-small">Von der Ärztekammer Schleswig-Holstein für 50 Fortbildungspunkte zertifiziert. Die Fortbildungspunkte werden von den Psychotherapeutenkammern anerkannt.</p>
                    <img class="hidden md:block md:absolute md:-bottom-12 lg:-bottom-14 2xl:-bottom-20 md:left-0" src="./images/wave-blue.svg" alt="Wave">
                </div>
            </div>
            <img class="md:hidden" src="./images/wave-blue.svg" alt="Wave">
        </div>        
    </div> <!-- container close -->
</section>

    <!-- COMPONENT: End kurse-seminare -->