<div class="w-[340px] md:w-[540px] border-2 border-[#cba344] rounded-xl mx-auto mt-5">
    <div class="w-[55%] mx-auto mt-[22px]">
        <img src="../../../images/logo-ministry.svg" alt="">
    </div>
    <button class="flex mx-auto mt-[100px] gap-2 bg-black py-2 px-4 rounded-lg text-white font-medium md:text-xl md:leading-10">
        <img class="w-[30px] md:w-[44px]" src="../../../images/fingerprint.png" alt="">
        <span>Sign in with UAE PASS</span>
    </button>
    
    <p class="text-[14px] text-center font-medium leading-5 mt-2 md:text-[18px] md:mt-3">A single trusted digital identify for all citizens,<span  class="md:block">residents and visitors.</span></p>

    <div class="text-center mt-[100px] mb-[16%] md:flex md:justify-center md:gap-2 md:text-[20px]">
        <span class="font-medium">Need a UAE PASS account?</span>
        <h3><a class="text-[#95752e] underline decoration-[#95752e]" href="https://uaepass.ae/signup" target="_blank">Create an account</a></h3>
    </div>
</div>