<section class="frame-space-after-large">
  <div class="container mx-auto px-5">
    <div class="grid lg:grid-cols-1 xl:grid-cols-10 2xl:grid-cols-5 gap-4 md:gap-5">
      <div class="lg:col-span-1 xl:col-span-6 2xl:col-span-3">
        <h3 class="headline-3 text-primary mb-6">Vorstand & Tagungsplanung</h3>
        <div class="space-y-3 text-[17px] leading-[30px]">
          <p>Wir haben zum Rahmenthema „Zweifel und Zuversicht“ ein interessantes Plenarprogramm zusammengestellt, in
            dem Sie Vorträge von renommierten Referent:innen aus ganz unterschiedlichen Disziplinen finden. </p>
          <p>Wir widmen uns zentralen Fragen, etwa wie epistemisches Vertrauen in der therapeutischen Beziehung
            gefördert werden kann und in welcher Weise Demut und Zweifel nicht nur als therapeutische, sondern auch als
            gesellschaftliche Kompetenz verstanden werden können. </p>
          <p>Resilienz und die Fähigkeit, mit Ungewissheit umzugehen sind weitere Themen, ebenso wie die Frage, wie in
            Zeiten des Zweifels und der Zuversicht Erinnerungen funktionieren. </p>
          <p class="pt-6 font-medium">Bernhard Strauß <br>
            für den Vorstand der Norddeutschen Arbeitsgemeinschaft<br>
            für Psychotherapie und Psychosomatik e.V.</p>
        </div>
      </div>
      <div class="pt-7 lg:pt-0 lg:col-span-1 xl:col-span-4 2xl:col-span-2">
        <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-2 gap-2 sm:gap-4 lg:gap-x-5 lg:gap-y-8 [&>*>img]:w-full">
          <div class="rounded overflow-hidden">
            <img src="./images/people/people-1.png" width="270" height="270" alt="" />
          </div>
          <div class="rounded overflow-hidden">
            <img src="./images/people/people-2.png" width="270" height="270" alt="" />
          </div>
          <div class="rounded overflow-hidden">
            <img src="./images/people/people-3.png" width="270" height="270" alt="" />
          </div>
          <div class="rounded overflow-hidden">
            <img src="./images/people/people-4.png" width="270" height="270" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>