    <!-- Pop-up structure -->
    <div id="popup-box" class="fixed popup hidden-x inset-0 bg-black bg-opacity-50 items-center flex justify-center  z-50">
        <div class="bg-white w-11/12 max-w-lg md:w-2/3 md:max-w-5xl max-h-3/5 p-6 2xl:p-24 rounded-md shadow-2xl overflow-y-auto">
            <h2 class="headline-3 text-primary text-center mb-10">LÜBECK UND UMGEBUNG</h2>
            <p class="text-gray-700 text-center mb-16">
                Die Teilnahme an den Lübecker Psychotherapietagen lohnt sich nicht nur aus fachlicher Hinsicht. Die
                Hansestadt Lübeck bietet Ihnen darüber hinaus ein reiches kulturelles Umfeld, auf das wir Sie mit den
                folgenden Seiten aufmerksam machen möchten. Verstehen Sie die aufgeführten Hinweise bitte als Anregung.
                Unter den angegebenen Links finden Sie weitere wertvolle Informationen.
            </p>
            <div class="text-center mb-4 [&>p]:mb-0">
                <p>Lübeck und Travemünde Tourist-Service GmbH: <a href="https://www.luebeck-tourismus.de"
                        class="text-red-600">www.luebeck-tourismus.de</a></p>
                <p>Lübecker Nachrichten: <a href="https://www.ln-online.de" class="text-red-600">www.ln-online.de</a>
                </p>
                <p>Musik- und Kongreßhalle: <a href="https://www.muk.de" class="text-red-600">www.muk.de</a></p>
                <p>Restaurant Schiffergesellschaft Lübeck: <a href="https://www.schiffergesellschaft.de"
                        class="text-red-600">www.schiffergesellschaft.de</a></p>
                <p>Theater Lübeck: <a href="https://www.theaterluebeck.de" class="text-red-600">www.theaterluebeck.de</a>
                </p>
            </div>
            <button id="close-popup" data-target="popup" class="close-popup text-red-600 border border-red-600 rounded-full h-10 w-10 mx-auto block mt-20">
                &#10005; 
            </button>
        </div>
    </div>