<section>
    <div class="container">
        <div class="text-left flex universal gap-6">
            <select name="open-dropdown" id="open-dropdown"
                class="w-48 appearance-none relative bg-[#b68a34] border-4 border-[#f2eccf] rounded-xl text-white px-3 py-2 mt-4 ml-4 focus:outline-none font-medium">
                <option value="dropdown">Open dropdown</option>
                <option value="Edit-my-profile">Edit my profile</option>
                <option value="package">My packages</option>
                <hr>
                <option value="account">Account settiings</option>
                <option value="email">Email notifications</option>
                <option value="token">Access tokens</option>
                <hr>
                <option value="logout">Logout</option>
            </select>
            <span class="absolute top-[30px] left-[11.3rem] pointer-events-none ">
                <i class="fa-solid fa-angle-down text-white"></i>
            </span>
        </div>
    </div>
</section>