<section class="m-5 rounded-2xl w-full mx-auto">
    <div class="container slick-slider w-full mx-auto">
       <div class="p-5 border border-[#d7bc6d] rounded-2xl card-glow md:p-[30px]">
            <img class="rounded-xl" src="../../../images/card-Hackathon_2.jpg" alt="">
            <h5 class="text-[30px] md:text-[26px] text-[#232528] font-bold font-[Inter] pt-7 pb-8" >The UAE Hackathon</h5>
            <p class="font-Roboto text-[#232528] text-[18px] md:text-[19px] lg:text-[17px] line-clamp-3 md:line-clamp-4">This initiative will create an opportunity for hundreds of young people to use open data as a tool for innovation and to boost economic truncate</p>
            <button class="flex gap-3 pt-3 pb-[6px]"><a href="#" class="text-[#92722A] font-bold underline">View details</a><svg class="w-[26px] fill-[#92722A] lg:w-5" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 640">
                <path
                    d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L466.7 352L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7z" />
            </svg></button>
        </div>
        <div class="p-5 border border-[#d7bc6d] rounded-2xl card-glow md:p-[30px]">
            <img class="rounded-xl" src="../../../images/card-Hackathon_2.jpg" alt="">
            <h5 class="text-[30px] md:text-[26px] text-[#232528] font-bold font-[Inter] pt-7 pb-8" >The UAE Hackathon</h5>
            <p class="font-Roboto text-[#232528] text-[18px] md:text-[19px] lg:text-[17px] line-clamp-3 md:line-clamp-4">This initiative will create an opportunity for hundreds of young people to use open data as a tool for innovation and to boost economic truncate</p>
            <button class="flex gap-3 pt-3 pb-[6px]"><a href="#" class="text-[#92722A] font-bold underline">View details</a><svg class="w-[26px] fill-[#92722A] lg:w-5" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 640">
                <path
                    d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L466.7 352L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7z" />
            </svg></button>
        </div>
        <div class="p-5 border border-[#d7bc6d] rounded-2xl card-glow md:p-[30px]">
            <img class="rounded-xl" src="../../../images/card-Hackathon_2.jpg" alt="">
            <h5 class="text-[30px] md:text-[26px] text-[#232528] font-bold font-[Inter] pt-7 pb-8" >The UAE Hackathon</h5>
            <p class="font-Roboto text-[#232528] text-[18px] md:text-[19px] lg:text-[17px] line-clamp-3 md:line-clamp-4">This initiative will create an opportunity for hundreds of young people to use open data as a tool for innovation and to boost economic truncate</p>
            <button class="flex gap-3 pt-3 pb-[6px]"><a href="#" class="text-[#92722A] font-bold underline">View details</a><svg class="w-[26px] fill-[#92722A] lg:w-5" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 640">
                <path
                    d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L466.7 352L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7z" />
            </svg></button>
        </div>
        <div class="p-5 border border-[#d7bc6d] rounded-2xl card-glow md:p-[30px]">
            <img class="rounded-xl" src="../../../images/card-Hackathon_2.jpg" alt="">
            <h5 class="text-[30px] md:text-[26px] text-[#232528] font-bold font-[Inter] pt-7 pb-8" >The UAE Hackathon</h5>
            <p class="font-Roboto text-[#232528] text-[18px] md:text-[19px] lg:text-[17px] line-clamp-3 md:line-clamp-4">This initiative will create an opportunity for hundreds of young people to use open data as a tool for innovation and to boost economic truncate</p>
            <button class="flex gap-3 pt-3 pb-[6px]"><a href="#" class="text-[#92722A] font-bold underline">View details</a><svg class="w-[26px] fill-[#92722A] lg:w-5" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 640">
                <path
                    d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L466.7 352L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7z" />
            </svg></button>
        </div>
        <div class="p-5 border border-[#d7bc6d] rounded-2xl card-glow md:p-[30px]">
            <img class="rounded-xl" src="../../../images/card-Hackathon_2.jpg" alt="">
            <h5 class="text-[30px] md:text-[26px] text-[#232528] font-bold font-[Inter] pt-7 pb-8" >The UAE Hackathon</h5>
            <p class="font-Roboto text-[#232528] text-[18px] md:text-[19px] lg:text-[17px] line-clamp-3 md:line-clamp-4">This initiative will create an opportunity for hundreds of young people to use open data as a tool for innovation and to boost economic truncate</p>
            <button class="flex gap-3 pt-3 pb-[6px]"><a href="#" class="text-[#92722A] font-bold underline">View details</a><svg class="w-[26px] fill-[#92722A] lg:w-5" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 640">
                <path
                    d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L466.7 352L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7z" />
            </svg></button>
        </div>
        
    </div>
</section>
<!-- <script src="/src/js/slick-slider.js"></script> -->

<script>
    $(document).ready(function () {
      $('.slick-slider').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        dots: true,
        arrows: false,
        infinite: true,
        autoplay: false,
        speed: 500,
  
        responsive: [
          {
            breakpoint: 1280,
            settings: { slidesToShow: 3}
          },
          {
            breakpoint: 1024,
            settings: { slidesToShow: 2 }
          },
          {
            breakpoint: 640,
            settings: { slidesToShow: 1 }
          }
        ]
      });
    });
  </script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
