<!-- Section 1 without switch class -->
<section class="flex flex-col md:flex-row md:items-center bg-white rounded-lg shadow-md p-6 mb-6">
    <!-- Text Column -->
    <div class="md:w-1/2 p-4">
        <h2 class="text-xl font-bold mb-4">LÜBECK UND UMGEBUNG</h2>
        <p class="text-gray-700 mb-4">
            Mit dem mittelalterlichen Stadtkern der Hansestadt Lübeck wurde 1987 erstmals in Nordeuropa eine ganze
            Altstadt von der UNESCO als Weltkulturerbe anerkannt. Ausschlaggebend waren dabei die markante
            Stadtsilhouette und die geschlossen erhaltene vorindustrielle Bausubstanz.
        </p>
        <button class="text-white bg-red-600 px-4 py-2 rounded-lg">Read More</button>
    </div>

    <!-- Image Column -->
    <div class="md:w-1/2 p-4">
        <img  src="./images/teasureboxes/Luebecker_Bucht 1.png" alt="">
    </div>
</section>
