<section>
    <div class="container mx-auto 2xl:w-[900px]">
        <!-- input radios -->
        <input type="radio" name="tabs" id="tab1" class="peer/tab1 sr-only" checked>
        <input type="radio" name="tabs" id="tab2" class="peer/tab2 sr-only">
        <input type="radio" name="tabs" id="tab3" class="peer/tab3 sr-only">
        <input type="radio" name="tabs" id="tab4" class="peer/tab4 sr-only">


        <div class="p-5">
            <ul class="flex flex-wrap -mb-px text-sm text-center text-body font-semibold border-b border-[#1e2938]">
                <li class="me-2">
                    <label for="tab1"
                        class="text-[#9aa1af] inline-flex items-center justify-center p-4 hover:border-b cursor-pointer active group hover:text-[#2c7fff] peer-checked/tab1:text-[#2c7fff]">
                        <svg class="text-[#9aa1af] w-4 h-4 me-2 group-hover:text-[#2c7fff] " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                        Profile
                    </label>
                </li>

                <li class="me-2">
                    <label for="tab2"
                        class=" text-[#9aa1af] inline-flex items-center justify-center p-4 hover:border-b cursor-pointer active group hover:text-[#2c7fff] peer-checked/tab2:text-[#2c7fff]">
                        <svg class=" text-[#9aa1af] w-4 h-4 me-2 group-hover:text-[#2c7fff]" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9.143 4H4.857A.857.857 0 0 0 4 4.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 10 9.143V4.857A.857.857 0 0 0 9.143 4Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 20 9.143V4.857A.857.857 0 0 0 19.143 4Zm-10 10H4.857a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286A.857.857 0 0 0 9.143 14Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286a.857.857 0 0 0-.857-.857Z" />
                        </svg>
                        Dashboard
                    </label>
                </li>
                <li class="me-2">
                    <label for="tab3"
                        class="text-[#9aa1af] inline-flex items-center cursor-pointer justify-center p-4 hover:border-b active group hover:text-[#2c7fff] peer-checked/tab3:text-[#2c7fff]">
                        <svg class="text-[#9aa1af] w-4 h-4 me-2 group-hover:text-[#2c7fff]" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                d="M6 4v10m0 0a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m0 0v2m6-16v2m0 0a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m0 0v10m6-16v10m0 0a2 2 0 1 0 0 4m0-4a2 2 0 1 1 0 4m0 0v2" />
                        </svg>
                        Settings
                    </label>
                </li>
                <li class="me-2">
                    <label for="tab4"
                        class="text-[#9aa1af] inline-flex cursor-pointer items-center justify-center p-4 hover:border-b active group hover:text-[#2c7fff] peer-checked/tab4:text-[#2c7fff]">
                        <svg class="text-[#9aa1af] w-4 h-4 me-2 group-hover:text-[#2c7fff]" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M14.079 6.839a3 3 0 0 0-4.255.1M13 20h1.083A3.916 3.916 0 0 0 18 16.083V9A6 6 0 1 0 6 9v7m7 4v-1a1 1 0 0 0-1-1h-1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1Zm-7-4v-6H5a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h1Zm12-6h1a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2h-1v-6Z" />
                        </svg>
                        Contacts
                    </label>
                </li>
                <li>
                    <span class="inline-block p-4 cursor-not-allowed text-gray">Disabled</span>
                </li>
            </ul>
        </div>

        <div class="hidden peer-checked/tab1:block text-white p-5">
            <h1>Profile</h1>
            <p>This is the content of Profile tabs</p>
        </div>
        <div class="hidden peer-checked/tab2:block text-white p-5">
            <h1>Dashboard</h1>
            <p>This is the content of Dashboard tabs</p>
        </div>
        <div class="hidden peer-checked/tab3:block text-white p-5">
            <h1>Settings</h1>
            <p>This is the content of Settings tabs</p>
        </div>
        <div class="hidden peer-checked/tab4:block text-white p-5">
            <h1>Contacts</h1>
            <p>This is the content of Contacts tabs</p>
        </div>
    </div>
</section>