<!-- COMPONENT: START Tourismus - Kirchen und Museen -->
<section class="frame-space-after-large">
    <div class="container mx-auto">
        <div class="grid lg:grid-cols-2 xl:grid-cols-10 2xl:grid-cols-5 gap-4 md:gap-5">
            <div class="lg:col-span-1 xl:col-span-6 2xl:col-span-3 pt-12 px-5 pb-12">
                <h3 class="headline-3 pb-8 text-primary">Tourismus - Kirchen und Museen</h3>
                <p>Die sieben Türme der Kirchen machen das Stadtbild Lübecks unverwechselbar und haben auch für das Logo der Lübecker Psychotherapietage Pate gestanden. Sie prägen seit dem Mittelalter die Silhouette der Stadt: der zweitürmige Dom im Süden, St. Marien inmitten der Stadt, St. Petri, einzige fünfschiffige Hallenkirche Norddeutschlands, St. Jakobi im Norden und St. Aegidien, die fünfte und kleinste der Stadtkirchen im Osten. Die beeindruckenden Bauten aus dem typischen roten Backstein laden ein zu Streifzügen durch die Kulturgeschichte der Stadt.</p>
                <p>Auch die Lübecker Psychotherapietagen dürfen von der einzigartigen Atmosphäre dieser Sakralbauten profitieren: Der Öffentliche Abendvortrag findet in der Universitätskirche Sankt Petri statt. Der Ostchor des Doms lädt die Teilnehmer während des Kongresses täglich ein, mit Hilfe von Musik und mediativer Symbolik innezuhalten. Ebenso können Liebhaber der Orgelmusik  im Rahmen der Lübecker Psychotherapietage im Dom einen Konzertabend erleben. </p>            
            </div>            
            <div class="lg:pt-12 lg:col-span-1 xl:col-span-4 2xl:col-span-2 pt-14 pb-4 bg-light-blue relative">
                <div class="px-5">
                    <h3 class="headline-3 pb-8">Weitere links </h3>
                    <ul class="list-custom-dot frame-space-after-medium md:leading-9">
                        <li>innenstadtkirchen-luebeck.de </li>
                        <li>grass-haus.de</li>
                        <li>buddenbrookhaus.de</li>
                        <li>willy-brandt-luebeck.de </li>
                        <li>die-luebecker-museen.de</li>
                        <li>museum-fuer-natur-und-umwelt.de</li>
                        <li>hansemuseum.eu</li>
                    </ul>
                    <!-- <img class="absolute md:-bottom-[96px] hidden md:block -bottom-[64px] left-0" src="./images/wave-blue.svg" alt=""> -->
                </div>
                <img class="md:w-full absolute -bottom-16 sm:-bottom-20 md:-bottom-32 lg:-bottom-20 xl:-bottom-24" src="./images/wave-blue.svg" alt="">
            </div>
        </div>        
        <!-- <img class="md:w-full sm:hidden-x" src="./images/mobile-wave-blue-big.svg" alt=""> -->
    </div> <!-- container close -->
</section>
<!-- COMPONENT: End Tourismus - Kirchen und Museen -->